/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
    .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
 .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  span.menu-icon {
    display: block;
  }
  .lesson {
    width: 100%;
  }
 
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .top-wrapper h1 {
    font-size: 28px;
    line-height: 36px;
  }
  
  .top-wrapper h2 {
    font-size: 18px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .message-wrapper {
    font-size: 14px;
    line-height: 20px;
  }
  
  .message-wrapper h2 {
    font-size: 20px;
    line-height: 20px;
  }

   footer {
    text-align: center;
  }
  
}
